<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- UI for initializing and setting Sierra prefrences -->

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.surelogic.sierra.client.eclipse.preferences.SierraPreferencePage"
            id="com.surelogic.sierra.client.eclipse.preferences.SierraPreferencePage"
            name="Sierra"/>
      <page
            class="com.surelogic.sierra.client.eclipse.preferences.ToolsPreferencePage"
            id="com.surelogic.sierra.client.eclipse.preferences.ToolsPreferencePage"
            name="Tools"
            category="com.surelogic.sierra.client.eclipse.preferences.SierraPreferencePage"/>
      <page
            class="com.surelogic.sierra.client.eclipse.preferences.ResultFilterPreferencePage"
            id="com.surelogic.sierra.client.eclipse.preferences.ResultFilterPreferencePage"
            name="Result Filter"
            category="com.surelogic.sierra.client.eclipse.preferences.SierraPreferencePage"/>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.surelogic.sierra.client.eclipse.preferences.PreferenceInitializer"/>
   </extension>
   
  <!-- Sierra menus -->

   <extension point="org.eclipse.ui.actionSets">
        <actionSet label="Sierra ActionSet" visible="true" id="com.surelogic.sierra.client.eclipse.workbenchActionSet">
          <menu
                id="com.surelogic.sierra.client.eclipse.workbenchMenu"
                label="Sierra"
                path="additions">
            
            <groupMarker name="client"/>
            <separator name="server"/>
            <separator name="administration"/>
            <separator name="additions"/>
          </menu>
          
          <action
               class="com.surelogic.sierra.client.eclipse.actions.InvestigateAction"
               id="com.surelogic.sierra.client.eclipse.actions.InvestigateAction"
               icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_investigate.gif"
               label="Investigate"
               menubarPath="com.surelogic.sierra.client.eclipse.workbenchMenu/client">
          </action>
          <action
           		class="com.surelogic.sierra.client.eclipse.actions.ScanAction"
                id="com.surelogic.sierra.client.eclipse.actions.ScanAction"
                icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_scan.gif"
                label="Scan Project"
                menubarPath="com.surelogic.sierra.client.eclipse.workbenchMenu/client"
                enablesFor="+">
             <selection class="org.eclipse.jdt.core.IJavaProject"/>
          </action>
          
         <action
           		class="com.surelogic.sierra.client.eclipse.actions.DisconnectAction"
                id="com.surelogic.sierra.client.eclipse.actions.DisconnectAction"
                icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_disconnect.gif"
                label="Disconnect"
                menubarPath="com.surelogic.sierra.client.eclipse.workbenchMenu/server"
                enablesFor="+">
             <selection class="org.eclipse.jdt.core.IJavaProject"/>
          </action>
          <action
           		class="com.surelogic.sierra.client.eclipse.actions.ShareScanAction"
                id="com.surelogic.sierra.client.eclipse.actions.ShareScanAction"
                icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_publish.gif"
                label="Share Scan"
                menubarPath="com.surelogic.sierra.client.eclipse.workbenchMenu/server"
                enablesFor="+">
             <selection class="org.eclipse.jdt.core.IJavaProject"/>
          </action>
         <action
           		class="com.surelogic.sierra.client.eclipse.actions.SynchronizeAction"
                id="com.surelogic.sierra.client.eclipse.actions.SynchronizeAction"
                icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_sync.gif"
                label="Synchronize Explanations"
                menubarPath="com.surelogic.sierra.client.eclipse.workbenchMenu/server"
                enablesFor="+">
             <selection class="org.eclipse.jdt.core.IJavaProject"/>
          </action>
          <action
               class="com.surelogic.sierra.client.eclipse.actions.ShowSierraServersAction"
               id="com.surelogic.sierra.client.eclipse.actions.ShowSierraServersAction"
               icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_server.gif"
               label="Show Sierra Team Servers"
               menubarPath="com.surelogic.sierra.client.eclipse.workbenchMenu/server">
          </action>    

          <action
               class="com.surelogic.sierra.client.eclipse.actions.PreferencesAction"
               id="com.surelogic.sierra.client.eclipse.actions.PreferencesAction"
               label="Preferences..."
               menubarPath="com.surelogic.sierra.client.eclipse.workbenchMenu/administration">
          </action>   
          <action
               class="com.surelogic.sierra.client.eclipse.actions.ImportScanAction"
               id="com.surelogic.sierra.client.eclipse.actions.ImportRunAction"
               icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_orange_page.gif"
               label="Import Scan..."
               menubarPath="com.surelogic.sierra.client.eclipse.workbenchMenu/administration">
          </action>     
          
        </actionSet>
   </extension>
      
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="Sierra.popupMenu"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu
               id="com.surelogic.sierra.client.eclipse.projectContextMenu"
               label="Sierra"
               path="additions">
            <groupMarker name="client"/>
            <separator name="server"/>
         </menu>
         <action
               class="com.surelogic.sierra.client.eclipse.actions.ScanAction"
               enablesFor="+"
               id="com.surelogic.sierra.client.eclipse.actions.ScanAction"
               icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_scan.gif"
               label="Scan"
               menubarPath="com.surelogic.sierra.client.eclipse.projectContextMenu/client"/>

         <action
           		class="com.surelogic.sierra.client.eclipse.actions.DisconnectAction"
                enablesFor="+"
                id="com.surelogic.sierra.client.eclipse.actions.DisconnectAction"
                icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_disconnect.gif"
                label="Disconnect"
                menubarPath="com.surelogic.sierra.client.eclipse.projectContextMenu/server"/>

         <action
               class="com.surelogic.sierra.client.eclipse.actions.ShareScanAction"
               enablesFor="+"
               id="com.surelogic.sierra.client.eclipse.actions.ShareScanAction"
               icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_publish.gif"
               label="Share Scan"
               menubarPath="com.surelogic.sierra.client.eclipse.projectContextMenu/server"/>
         <action
               class="com.surelogic.sierra.client.eclipse.actions.SynchronizeAction"
               enablesFor="+"
               id="com.surelogic.sierra.client.eclipse.actions.SynchronizeAction"
               icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_sync.gif"
               label="Synchronize Explanations"
               menubarPath="com.surelogic.sierra.client.eclipse.projectContextMenu/server"/>
      </objectContribution>
   </extension>
   
   <!-- Sierra views -->
   
   <extension
         point="org.eclipse.ui.views">
         
      <category
            name="Sierra"
            id="com.surelogic.sierra.client.eclipse">
      </category>

      <view
            allowMultiple="false"
            category="com.surelogic.sierra.client.eclipse"
            class="com.surelogic.adhoc.views.AdHocQueryView"
            id="com.surelogic.sierra.client.eclipse.AdHocQueryView"
            icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/query.gif"
            name="Query Sierra">
      </view>
   
      <view
            allowMultiple="true"
            category="com.surelogic.sierra.client.eclipse"
            class="com.surelogic.adhoc.views.AdHocQueryResultsView"
            id="com.surelogic.sierra.client.eclipse.AdHocQueryView.Results"
            icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/query.gif"
            name="Query Results">
      </view>

      <view
            category="com.surelogic.sierra.client.eclipse"
            class="com.surelogic.sierra.client.eclipse.views.FindingsFinderView"
            id="com.surelogic.sierra.client.eclipse.views.FindingsFinderView"
            icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_investigate.gif"
            name="Investigate Findings">
      </view>
      
      <view
            category="com.surelogic.sierra.client.eclipse"
            class="com.surelogic.sierra.client.eclipse.views.FindingsDetailsView"
            id="com.surelogic.sierra.client.eclipse.views.FindingsDetailsView"
            icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/asterisk_diamond_orange.gif"
            name="Finding Details">
      </view>
      
      <view
            category="com.surelogic.sierra.client.eclipse"
            class="com.surelogic.sierra.client.eclipse.views.SierraServersView"
            id="com.surelogic.sierra.client.eclipse.views.SierraServersView"
            icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_server.gif"
            name="Sierra Team Servers">
      </view>
   </extension>

   <!-- Sierra Explorer perspective and links to the Java perspective -->
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Sierra Investigating"
            icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_logo.gif"
            class="com.surelogic.sierra.client.eclipse.perspectives.SierraPerspective"
            id="com.surelogic.sierra.client.eclipse.perspectives.SierraPerspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.surelogic.sierra.client.eclipse.perspectives.SierraPerspective">
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <viewShortcut
               id="com.surelogic.sierra.client.eclipse.views.FindingsView">
         </viewShortcut>
         <viewShortcut
               id="com.surelogic.sierra.client.eclipse.views.SierraServersView">
         </viewShortcut>
         <perspectiveShortcut
               id="com.surelogic.sierra.client.eclipse.perspectives.SierraPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   
   <!-- Export and import wizards -->
   
   <extension
         id="sierraexportwizards"
         point="org.eclipse.ui.exportWizards">
         <category name="Sierra" id="sierra.export.category"/>
         <wizard
         	category="sierra.export.category" 
         	name="Ant Buildfiles"
         	class="com.surelogic.sierra.client.eclipse.wizards.BuildFileExportWizard"
         	id="sierra.build.file.wizard"
         	icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/ant_export.gif">
         		<description>
         			A wizard to generate Sierra Buildfiles
         		</description>
         	</wizard>
         	<wizard
         		category="sierra.export.category" 
         		name="Servers"
         		class="com.surelogic.sierra.client.eclipse.wizards.ServerExportWizard"
         		id="server.export.file.wizard"
         		icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/server.gif">
         		<description>
         			A wizard to export Sierra servers
         		</description>
         	</wizard>
   </extension>
   
   <extension
   		 id="sierraimportwizards"
   		 point="org.eclipse.ui.importWizards">
   		 <category name="Sierra" id="sierra.import.category"/>
   		 <wizard
         	category="sierra.import.category" 
         	name="Servers"
         	class="com.surelogic.sierra.client.eclipse.wizards.ServerImportWizard"
         	id="server.import.file.wizard"
         	icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/server.gif">
         		<description>
         			A wizard to import Sierra Servers
         		</description>
         </wizard>
   </extension> 
   
   <!-- Enable markers about Sierra findings -->
   
   <extension
		 id="com.surelogic.sierra.client.eclipse.sierraMarker"
		 name="Sierra Finding"
		 point="org.eclipse.core.resources.markers">
	  <super type="org.eclipse.core.resources.problemmarker"/>
	  <super type="org.eclipse.core.resources.textmarker"/>
	  <persistent value="true"/>
   </extension>
   
   <extension
		 point="org.eclipse.ui.ide.markerImageProviders">
	  <imageprovider
			markertype="com.surelogic.sierra.client.eclipse.sierraMarker"
			icon="platform:/plugin/com.surelogic.common.eclipse/lib/images/sierra_logo.gif"
			id="com.surelogic.sierra.client.eclipse.sierraMarkerImageProvider">
	  </imageprovider>
   </extension>
   
   <extension point="org.eclipse.ui.editors.annotationTypes">
	  <type
		 name="com.surelogic.sierra.client.eclipse.sierraMarkerAnnotation"
		 super="org.eclipse.ui.workbench.texteditor.warning"
		 markerType="com.surelogic.sierra.client.eclipse.sierraMarker"/>
	 
   </extension>
   
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
	  <specification
			annotationType="com.surelogic.sierra.client.eclipse.sierraMarkerAnnotation"
			icon="lib/icons/asterisk_orange_50.gif"
			includeOnPreferencePage="true"
			label="sierraFinding"
			quickFixIcon="lib/icons/asterisk_orange_50.gif"/>
   </extension>
   
   <!-- Enable the ad hoc query view on Sierra -->

   <extension
         point="com.surelogic.adhoc.query">
      <instance
            adHocQueryViewId="com.surelogic.sierra.client.eclipse.AdHocQueryView"
            class="com.surelogic.sierra.client.eclipse.AdHocGlue">
      </instance>
   </extension>

</plugin>
