<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

    <filter>
        <description>
			Validates that requests from Sierra Clients are correctly authenticated.
        </description>    
        <filter-name>Security Filter</filter-name>
		<filter-class>com.surelogic.sierra.jdbc.server.BasicSecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>    

	<servlet>
		<servlet-name>Sierra Service</servlet-name>
		<servlet-class>
			com.surelogic.sierra.tool.message.SierraServiceImpl
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sierra Service</servlet-name>
		<url-pattern>/SierraService</url-pattern>
	</servlet-mapping>

</web-app>
