<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>SierraPortal.html</welcome-file>
	</welcome-file-list>

	<icon>
		<small-icon>images/sierra_logo.gif</small-icon>
	</icon>

	<!-- Set up logging -->

	<listener>
		<description>
			Configures logging based upon the context-param SLLogger
			below and bootstraps or updates the database schema.
		</description>
		<listener-class>
			com.surelogic.sierra.server.lifecycle.SchemaServletContextListener
		</listener-class>
	</listener>

	<context-param>
		<description>
			Tells the server where to put its log files.
		</description>
		<param-name>SLLogger</param-name>
		<param-value>Use Sierra Directory</param-value>
	</context-param>

	<!--  GWT browser to server communication -->

	<servlet>
		<servlet-name>Server Login</servlet-name>
		<servlet-class>
			com.surelogic.sierra.jdbc.server.UserLoginServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Server Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Session Service</servlet-name>
		<servlet-class>
			com.surelogic.sierra.gwt.server.SessionServiceImpl
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Session Service</servlet-name>
		<url-pattern>/SessionService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Manage Server</servlet-name>
		<servlet-class>
			com.surelogic.sierra.gwt.server.ManageServerServiceImpl
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Manage Server</servlet-name>
		<url-pattern>/ManageServerService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Manage User</servlet-name>
		<servlet-class>
			com.surelogic.sierra.gwt.server.ManageUserAdminServiceImpl
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Manage User</servlet-name>
		<url-pattern>/ManageUserService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Manage Prefs</servlet-name>
		<servlet-class>
			com.surelogic.sierra.gwt.server.ManagePrefsServiceImpl
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Manage Prefs</servlet-name>
		<url-pattern>/ManagePrefsService</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Overview</servlet-name>
		<servlet-class>
			com.surelogic.sierra.gwt.server.OverviewServiceImpl
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Overview</servlet-name>
		<url-pattern>/OverviewService</url-pattern>
	</servlet-mapping>

	<!-- chart servlets -->

	<servlet>
		<servlet-name>UseChart</servlet-name>
		<servlet-class>
			com.surelogic.sierra.servlets.chart.UseChartServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UseChart</servlet-name>
		<url-pattern>/chart/use</url-pattern>
	</servlet-mapping>

</web-app>