@CHARSET "ISO-8859-1";
body {
	font-family: Helvetica, Verdana, Arial;
	font-size: medium;
}


h1 {
	font-size: x-large;
	font-style: bold;
	color:  #005395;
	}

h2 {
	font-size: large;
	font-style: bold;
	color:  #FF7010;
}


a {
	color:#005596; 
	text-decoration:underline;
}

a.hover {
	color:#005596; 
	text-decoration:underline;
}

/* Login Panel */
.login-panel {
	border: 2px groove;
	padding: 10px;
}

.login-errormessage {
    color: #FF3333;
}

/* User Prefs, Logout Panel */
.header-user-label {
	color: #FFFFFF;
	margin: 5px;
}

.header-user-clickable {
	text-decoration:underline;
	cursor: pointer;
	cursor: hand;
}

/* Tab Panel Styling */

.gwt-TabPanel {
	color: #bfd4e4;
	width: 100%;
}

.gwt-TabPanelBottom {
  background-color: #E8EEF7;
}

.gwt-TabBar {
  background-color: #005495;
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: white;
}
.gwt-TabBar .gwt-TabBarFirst {
	display: none;
}

.gwt-TabBar .gwt-TabBarRest {
}

.gwt-TabBar .gwt-TabBarItem-selected { 
  cursor: pointer;
  cursor: hand;
  background-color: #ff7011;
}
.gwt-TabBar .gwt-TabBarItem {
  cursor: pointer;
  cursor: hand;
  padding-left: 1ex;
  padding-right: 1ex;
}

/* Class for items that can be clicked */
.clickable {
	color:#005596; 
	text-decoration:underline;
	cursor: pointer;
	cursor: hand;
}


/*Content*/


.cookiecrumb {
	font-size: 12px;
	color: #FD8537
}


