@CHARSET "ISO-8859-1";
body {
	font-family: Helvetica, Verdana, Arial;
	font-size: medium;
}

/* Login Panel */
.login-panel {
	border: 2px groove;
	padding: 10px;
}

.login-errormessage {
    color: #FF3333;
}

/* Tab Panel Styling */

.gwt-TabPanel {
	color: #bfd4e4;
}

.gwt-TabPanelBottom {
  background-color: #E8EEF7;
}

.gwt-TabBar {
  border-bottom: 4px solid #005495;
  background-color: #005495;
  font-size: large;
  color: white;
  
}
.gwt-TabBar .gwt-TabBarFirst {
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem-selected { 
  cursor: pointer;
  cursor: hand;
  background-color: #ff7011;
}
.gwt-TabBar .gwt-TabBarItem {
  cursor: pointer;
  cursor: hand;
}

/* Class for items that can be clicked */
.clickable {
	color:#005596; 
	text-decoration:underline;
	cursor: pointer;
	cursor: hand;
}

/* OLD STUFF - Everything beyond this point is no longer used, but keep it here until the new styles are built */

		
.header {
	background-image:url('../images/header-bg2.gif'); 
	background-repeat:repeat-x; 
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px;
}

.header_text {
	position:absolute;
	left:725px;
	top:110px;
	z-index:20; 
	color:#ffffff; 
	font-size:14px; 
	font-weight:bold; 
	white-space: nowrap;
}

.header_text2{
	color:#ffffff; 
	text-transform:uppercase; 
	text-decoration:none; 
	margin-left:50px;
}

.header_text3{
	color:#ffffff; 
	text-transform:uppercase; 
	text-decoration:none; 
	font-size:14px; 
	font-weight:bold; 
	white-space: nowrap;
	margin:5px;
}

/*Content*/
.content {
	padding-left:5px;
	height:600px;
}

h1 {
	font-size:18px;
	font-style: bold;
	color:  #005395;
	}

h2 {
	font-size:14px;
	font-style: bold;
	color:  #FF7010;
}

.cookiecrumb {
	font-size: 12px;
	color: #FD8537
}

a {
	color:#005596; 
	text-decoration:underline;
}

a.hover {
	color:#005596; 
	text-decoration:underline;
}


