@CHARSET "ISO-8859-1";
body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: medium;
}


h2 {
	color:  #005395;
	font-size: large;
	margin-bottom: 1ex;
	margin-top: 1ex;
}

h3 {
	color:  #FF7010;
	font-size: medium;
	margin-bottom: 1ex;
	margin-top: 1ex;
}


a {
	color:#005596; 
	text-decoration:underline;
}

a.hover {
	color:#005596; 
	text-decoration:underline;
}

/* Header */
.header {
	background-image:url('../images/header-bg.gif'); 
	background-repeat:repeat-x; 
	width:100%;
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px;
}

.header-session {
	color: #FFFFFF;
	margin: 5px;
}

.header-session-clickable {
	text-decoration:underline;
	cursor: pointer;
	cursor: hand;
}

/* Login Panel */
.login-panel {
	border: 2px groove;
	padding: 10px;
}

.login-errormessage {
    color: #FF3333;
}

/* Tab Panel Styling */

.gwt-TabPanel {
	color: #bfd4e4;
	width: 100%;
}

.gwt-TabPanelBottom {
  background-color: #E8EEF7;
}

.gwt-TabBar {
  background-color: #005495;
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: white;
}
.gwt-TabBar .gwt-TabBarFirst {
	display: none;
}

.gwt-TabBar .gwt-TabBarRest {
}

.gwt-TabBar .gwt-TabBarItem-selected { 
  cursor: pointer;
  cursor: hand;
  background-color: #ff7011;
}
.gwt-TabBar .gwt-TabBarItem {
  cursor: pointer;
  cursor: hand;
  padding-left: 1ex;
  padding-right: 1ex;
}

/* Action panel styling - holds a horizontal set of action links */
.action-panel {
  margin: 1ex;
}

.action-item {
  color:#005596; 
  text-decoration:underline;
  cursor: pointer;
  cursor: hand;
  padding-right: 1ex;
}

/* Class for items that can be clicked */
.clickable {
	color:#005596; 
	text-decoration:underline;
	cursor: pointer;
	cursor: hand;
}

.error {
	color: red;
}

.success {
	color: green;
}